ssh/known_hosts*
*_rsa
bitbucket
*~

# netrw history
.netrwhist

.ssh/*pub
.ssh/*rsa
.ssh/authorized_keys
.ssh/environment

.config/flexget
.config/calibre
.config/rtorrent
.config/rutorrent
.config/syncthing
.config/transmission-daemon


# Ignore tag files
tags
tags.lock
tags.temp

# Ignore vim plugins
.vim/plugged/*
.vim/view/*.md=
.vim/view/*.wiki=
