ssh/known_hosts*
*_rsa
bitbucket
*~
ssh/environment

# netrw history
.netrwhist
ssh/*pub
ssh/*rsa
config/flexget
config/calibre
config/rtorrent
config/rutorrent
config/syncthing
config/transmission-daemon
ssh/authorized_keys

# Ignore tag files
tags
tags.lock
tags.temp

# Ignore vim plugins
vim/plugged/*
